{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>

    <main>
        <div class="left-panel">
            <img src="{% static 'icons/logo.png' %}" alt="">
        </div>

        <div class="right-panel">
            <img src="{% static 'icons/joinus.png' %}">
            <div class="form-wrapper">

                <form method="post" class="form-container">
                    {% csrf_token %}

                    <p>{{ form.first_name.errors }}{{ form.first_name.label_tag }}{{ form.first_name }}</p>
                    <p>{{ form.last_name.errors }}{{ form.last_name.label_tag }}{{ form.last_name }}</p>

                    <p>{{ form.user_type.errors }}{{ form.user_type.label_tag }}{{ form.user_type }}</p>
                    <p>{{ form.birthdate.errors }}{{ form.birthdate.label_tag }}{{ form.birthdate }}</p>

                    <p id="seller-additional-field" class="hidden">
                        {{ form.store_name.errors }}
                        {{ form.store_name.label_tag }}
                        {{ form.store_name }}
                    </p>
                    
                    <p>{{ form.email.errors }}{{ form.email.label_tag }}{{ form.email }}</p>
                    <p>{{ form.phone_number.errors }}{{ form.phone_number.label_tag }}{{ form.phone_number }}</p>

                    <p>{{ form.password1.errors }}{{ form.password1.label_tag }}{{ form.password1 }}</p>
                    <p>{{ form.password2.errors }}{{ form.password2.label_tag }}{{ form.password2 }}</p>

                    <button type="submit">SIGN UP</button>
                </form>

            </div>
        </div>
    </main>

<script src="{% static "js/signup.js" %}"></script>

</body>
</html>