body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    background-color: #3D70EF;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    position: relative;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

search input {
    width: 40vw;
    height: 3vw;
    border-radius: 2vw;
    border: none;
    padding-left: 1.2vw;
    padding-right: 4vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

search input::placeholder {
    color: #D4D4D4;
}

search button {
    padding-top: .5vw;
    padding-bottom: .5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #0036BC;
    border: none;
    border-radius: 1.5vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

search button:hover {
    background-color: #8AABFF;
}

search button img {
    width: 1vw;
}

search form {
    position: relative;
    display: flex;
    align-items: center;
}

.blue-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3D70EF;
}

.purple-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #9B71F7;
}

footer h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5vw;
    font-weight: 900;
    color: #FCFCFC;
}

footer h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 900;
    color: #FCFCFC;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

footer h2:hover {
    color: #CDB8FB;
}

.home-link {
    margin-right: auto;
}

.search-link {
    position: absolute;
    right: .5vw;
    top: 50%;
    transform: translateY(-50%);
}
.nav-icons {
    margin-left: auto;
    display: flex;
    gap: 2vw;
}

.text-link {
    text-decoration: none;
}