/* Body & Layout */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
}

.left-panel {
    display: flex;
    background-color: #3D70EF;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.left-panel img {
    width: 25vw;
}

.right-panel {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.right-panel>img {
    width: 50vw;
}

.form-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    padding: 2vw;
    width: 40vw;
    align-items: center;
}

.form-container p {
    margin: 0;
    width: 40vw;
}

/* Form Labels */
.form-container label {
    display: block;
    margin-bottom: 0.8vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
}

/* Input Fields */
.form-container input {
    width: 40vw;
    height: 3vw;
    background-color: #F6F6F6;
    border: none;
    border-radius: 1vw;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 0 1vw;

    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    color: #000000;
}

/* Submit Button */
button[type="submit"] {
    width: 15vw;
    height: 3vw;
    margin-top: 2vw;
    background-color: #9B71F7;
    color: white;
    border: none;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    cursor: pointer;
}

/* Forgot Password Link */
.forgot-password-link {
    width: 40vw;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
}

.forgot-password-link a {
    color: #3D70EF;
    text-decoration: none;
}

/* Additional Links */
.additional-links {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
}

.additional-links a {
    color: #3D70EF;
    text-decoration: none;
}

.additional-links p {
    margin: 0.5vw 0;
}