:root {
    --primary-blue: #0036BC;
    --check-out-blue: #3d70ef; 
    --light-blue-bg: #8aabff;
    --qty-purple-bg: #d1ccff;
    --qty-purple-dark: #b4a7ff;
    --bg-gray: #f9f9fa;
    --border-gray: #eaeaea;
    --text-dark: #222;
}