body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
}

.left-panel {
    display: flex;
    background-color: #3D70EF;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.left-panel img {
    width: 25vw;
}

.right-panel {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.right-panel>img {
    width: 50vw;
}

.form-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.5vw;
    row-gap: 0.8vw;
    padding-top: 0.8vw;
    padding-left: 2.5vw;
}

.form-container p {
    margin: 0;
}

.form-container label {
    display: block;
    margin-bottom: 0.8vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
}

.form-container input,
.form-container select {
    width: 20vw;
    height: 3vw;
    background-color: #F6F6F6;
    border: none;
    border-radius: 1vw;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    padding: 0 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    color: #000000;
}

/* Seller field full width */
#seller-additional-field {
    grid-column: 1 / -1;
}

#seller-additional-field input {
    width: 100%;
}

.hidden {
    display: none;
}

button[type="submit"] {
    grid-column: 1 / -1;
    justify-self: center;
    width: 15vw;
    height: 3vw;
    margin-top: 3vw;
    background-color: #9B71F7;
    color: white;
    border: none;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.errorlist {
    color: red;
    font-size: 0.9vw;
    list-style: none;
    padding: 0;
    margin: 0 0 0.4vw 0;
}