<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav style="background-color: #3D70EF;">
            <img class="logo" src="icons/logo.png" alt="">
            <search>
                <input type="text" placeholder="FIND">
                <img src="icons/search.png" alt="">
            </search>
            <ul class="icons">
                <li class="chat"><a href=""><img src="icons/chat.png" alt=""> </a> </li>
                <li class="cart"><a href=""><img src="icons/cart.png" alt=""> </a></li>
                <li class="profile"><a href=""><img src="icons/profile.png" alt=""></a></li>
            </ul>
        </nav>
    </header>

    

    <footer>
        <h1><a>* BUY THE WAY *</a></h1>
        <h2><a>HELP CENTER</a></h2>
    </footer>
</body>

</html>