{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'icons/favicon.png' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <a class="home-link" href="{% url 'marketplace:marketplace' %}"><img src="{% static 'icons/logo.png' %}" style="width: 3vw" alt=""></a>
            
            <search>
                <form action="{% url "marketplace:marketplace" %}" method="get">
                <input type="text" placeholder="What are you looking for?" id="search_bar" name="search_bar">
                    <a class="search-link">
                        <button type="submit" value="OK">
                            <img src="{% static 'icons/search.png' %}" alt="">
                        </button>
                    </a>
                </form>
            </search>

            <div class="nav-icons">
                <a href="#"><img src="{% static 'icons/chat.png' %}" style="width: 2vw;" alt=""></a>
                <a href="{% url 'marketplace:shopping_cart' %}"><img src="{% static 'icons/cart.png' %}" style="width: 2.5vw;" alt=""></a>
                <form action="{% url 'account_management:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; display: inline-flex; align-items: center;">
                        <img src="{% static 'icons/profile.png' %}" style="width: 1.8vw; padding-left: .2vw;" alt="Logout">
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="blue-footer"><img src="{% static 'icons/asterisk.png' %}" style="width: 1.5vw; margin: 1.5vw;" alt=""><h1><a>BUY THE WAY</a></h1><img src="{% static 'icons/asterisk.png' %}" style="width: 1.5vw; margin: 1.5vw" alt=""></div>
        <div class="purple-footer"><a class="text-link" href=""><h2>HELP CENTER</h2></a></div>
    </footer>
</body>

</html>
