{% extends "base.html" %}
{% load static %}

{% block title %} Marketplace {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/marketplace.css' %}">
{% endblock %}


{% block content %}
    <div class="marketplace-content">

        {% if user.user_type == "B" %}
            <div class="categories-header">
                <img src="{% static 'icons/categories.png' %}" alt="">
            </div>
            <div class="category-box">
                <img src="{% static 'icons/leftscroll.png' %}" onclick="scrollCategories(-1)" class="scroll-btn-left" alt="Scroll Left">
                
                <div id="categoryContainer">
                    <button class="category-btn">MEN'S CLOTHING</button>
                    <button class="category-btn">WOMEN'S CLOTHING</button>
                    <button class="category-btn">BEAUTY</button>
                    <button class="category-btn">TECHNOLOGY</button>
                    <button class="category-btn">ACCESSORIES</button>
                    <button class="category-btn">HAIR & BODY CARE</button>
                    <button class="category-btn">OTHER</button>
                </div>
                
                <img src="{% static 'icons/rightscroll.png' %}" onclick="scrollCategories(1)" class="scroll-btn-right" alt="Scroll Right">
            </div>
            <img src="{% static 'icons/recommendations.png' %}" class="header-img" alt="">

        {% elif user.user_type == "S" %}
            <div style="display: flex; align-items: center; justify-content: center; margin: 2vw;">
                <a href="{% url 'marketplace:add_product' %}" style="text-decoration: none;">
                    <button class="button">
                    ADD NEW LISTING
                    </button>
                </a>
            </div>
            <img src="{% static 'icons/myproductlist.png' %}" class="header-img" alt="">

        {% endif %}

        <div class="product-grid">

            {% if user.user_type == "B" %}
            
                {% for product in products %}
                    <div class="product-item{% if forloop.counter > 5 %} hidden{% endif %}">
                        <a href="{% url 'marketplace:product_view' product.pk %}" class="product-link">
                            <div class="product-card">
                        
                            <div class="product-image-container">
                                <span class="price-badge">₱{{ product.price }}</span>
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                                {% else %}
                                    <div class="no-image-placeholder">
                                        No Image Available
                                    </div>
                                {% endif %}
                            </div>

                            <div class="product-info">
                                
                                <h2 class="product-title">{{ product.name }}</h2>
                                
                                <div class="product-meta">
                                    <span class="store-name">{{ product.store.name }}</span>
                                </div>

                                <div class="product-meta">
                                    <span class="product-location">{{ product.location }}</span>
                                    <span class="stock-stats">{{ product.sold }} Sold</span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>

                {% empty %}
                    <div class="empty-state">
                        <h2>No products available right now.</h2>
                        <p>Check back later!</p>
                    </div>
                {% endfor %}

                {% if products|length > 5 %}
                    <div class="see-more-container">
                        <button class="button" onclick="showMoreProducts()">
                            SEE MORE LISTINGS
                            <img src="{% static 'icons/dropdown-button.png' %}" class="dropdown-icon" alt="dropdown">
                        </button>
                    </div>
                {% endif %}

            {% else %}
                {% for product in products %}
                    {% if product.store.seller == user %}
                    <div class="product-item{% if forloop.counter > 5 %} hidden{% endif %}">
                        <a href="{% url 'marketplace:product_view' product.pk %}" class="product-link">
                            <div class="product-card">
                        
                            <div class="product-image-container">
                                <span class="price-badge">₱{{ product.price }}</span>
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                                {% else %}
                                    <div class="no-image-placeholder">
                                        No Image Available
                                    </div>
                                {% endif %}
                            </div>

                            <div class="product-info">
                                
                                <h2 class="product-title">{{ product.name }}</h2>
                                
                                <div class="product-meta">
                                    <span class="store-name">{{ product.store.name }}</span>
                                </div>

                                <div class="product-meta">
                                    <span class="product-location">{{ product.location }}</span>
                                    <span class="stock-stats">{{ product.sold }} Sold</span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endif %}

                {% empty %}
                    <div class="empty-state">
                        <h2>No products available right now.</h2>
                        <p>Check back later!</p>
                    </div>
                {% endfor %}

                {% if products|length > 5 %}
                    <div class="see-more-container">
                        <button class="button" onclick="showMoreProducts()">
                            SEE MORE LISTINGS
                            <img src="{% static 'icons/dropdown-button.png' %}" class="dropdown-icon" alt="dropdown">
                        </button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        
        <script src="{% static 'js/marketplace.js' %}"></script>

    </div>
{% endblock %}