{% extends "base.html" %}
{% load static %}

{% block content %}
    <title>[Product Short Title]</title>
    <link rel="stylesheet" href="{% static "css/buyer_productview.css" %}">

    <main class="buyerProduct-container">

        <div class="product-topRow">

            <div class="product-photos">
                <button class="nav-arrow left-arrow">
                    <img class src="{% static 'icons/photogallery-leftarrow.png' %}" alt="Last Picture">
                </button>

                <img src="{% static 'images/sample-product-larger.png'%}" alt="product-dp" class="product-displayPic">

                <button class="nav-arrow right-arrow">
                    <img class src="{% static 'icons/photogallery-rightarrow.png' %}" alt="Next Picture">
                </button>
            </div>

            <div class="product-details">

                <h1 class="product-name">
                    FINO Hair Mask Premium Imported Touch Hair Treatment
                </h1>

                <p class='product-subdata'>
                    JapanGoods | Tokyo, Japan | Estimated Delivery by 2/7 | 4.5 <span class="star">⭐</span>
                </p>

                <span class="category-tag">HAIR & BODY CARE</span>

                <div class="price-box">
                    <h2 class="price">₱640</h2>
                    <span class="items-sold">1k+ Sold</span>
                    <a href="#" class="compare-link">COMPARE PRICE</a>
                </div>

                <div class="quantity-box">
                    <div class="quantity-controllers">
                        <button class="quantity-btn">
                            <img src="{% static 'icons/left-chevron.png'%}" alt="decrease" class="arrow-icon">
                        </button>
                        <span class="quantity-num">1</span> <!-- insert backend django tag for math operations on add/reduce quantities -->
                        <button class="quantity-btn">
                            <img src="{% static 'icons/right-chevron.png'%}" alt="decrease" class="arrow-icon">
                        </button>
                    </div>
                    <span class="stocks-left">10 PCS LEFT</span>
                </div>

            </div>
        </div>

        <section class="info-card description-box">
            <h3 class="card-title">Product Description</h3>
            <p>
                Transform your hair with the Shiseido Fino Premium Touch Hair Mask! This intensive repair formula is designed to rejuvenate and repair damaged hair, leaving it smooth and silky. Enriched with six types of beauty essence ingredients, it penetrates deeply to moisturize and enhance the shine of your hair. Perfect for all hair types, this mask is your go-to solution for a radiant hair transformation!
            </p>
            <p>Purchasing from Tokyo, Japan as I will be flying home from my vacation there soon.</p>
        </section>

        <section class="info-card seller-box">
            <div class="seller-information">
                <div class="seller-avatar">
                    <img src="{% static 'icons/user-photo.png'%}" alt="user-icon" class="user-icon">
                </div>
                <h2 class="name-of-seller">JapanGoods</h2>
            </div>
            <button class="chat-seller-btn">CHAT WITH SELLER</button>
        </section>
        
        <section class="purchase-actions">
            <button class="addToCart-btn">ADD TO CART</button>
            <button class="pasabuyNow-btn">
                PASABUY NOW
                <img src="{% static 'icons/pasabuy-downarrow.png'%}" alt="down-arrow" class="down-arrow">
            </button>
        </section>

    </main>
{% endblock %}