{% extends "base.html" %}
{% load static %}

{% block content %}
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static "css/buyer_productview.css" %}">

    <main class="buyerProduct-container">

        <div class="product-topRow">

            <div class="product-photos">
                <button class="nav-arrow left-arrow">
                    <img class src="{% static 'icons/photogallery-leftarrow.png' %}" alt="Last Picture">
                </button>

                <img src="{{ product.image.url }}" alt="product-dp" class="product-displayPic">

                <button class="nav-arrow right-arrow">
                    <img class src="{% static 'icons/photogallery-rightarrow.png' %}" alt="Next Picture">
                </button>
            </div>

            <div class="product-details">

                <h1 class="product-name">
                    {{ product.name }}
                </h1>

                <p class='product-subdata'>
                    {{ product.store }} | {{ product.location }} | Estimated Delivery by {{ product.expected_delivery }} | {{ product.rating }} <span class="star">⭐</span>
                </p>

                <span class="category-tag">{{ product.get_category_display }}</span>

                <div class="price-box">
                    <h2 class="price">₱{{ product.price }}</h2>
                    <span class="items-sold">{{ product.sold }} Sold</span>
                    <a href="#" class="compare-link">COMPARE PRICE</a>
                </div>

                <div class="quantity-box">
                    <div class="quantity-controllers">
                        <button class="quantity-btn">
                            <img src="{% static 'icons/left-chevron.png'%}" alt="decrease" class="arrow-icon">
                        </button>
                        <span class="quantity-num">1</span> <!-- insert backend django tag for math operations on add/reduce quantities -->
                        <button class="quantity-btn">
                            <img src="{% static 'icons/right-chevron.png'%}" alt="decrease" class="arrow-icon">
                        </button>
                    </div>
                    <span class="stocks-left"> {{ product.stock }} PCS LEFT</span>
                </div>

            </div>
        </div>

        <section class="info-card description-box">
            <h3 class="card-title">Product Description</h3>
            <p>
                {{ product.description }}
            </p>
        </section>

        <section class="info-card seller-box">
            <div class="seller-information">
                <div class="seller-avatar">
                    <img src="{{ product.store.picture }}" alt="{{ product.store.name }}" class="user-icon">
                </div>
                <h2 class="name-of-seller">{{ product.store.name }}</h2>
            </div>
            <button class="chat-seller-btn">CHAT WITH SELLER</button>
        </section>
        
        <section class="purchase-actions">
            <form method="POST">
                {% csrf_token %}
                <button class="addToCart-btn" type="submit" >ADD TO CART</button>
            </form>
            <button class="pasabuyNow-btn">
                PASABUY NOW
                <img src="{% static 'icons/pasabuy-downarrow.png'%}" alt="down-arrow" class="down-arrow">
            </button>
        </section>

    </main>
{% endblock %}