{% extends "base.html" %}
{% load static %}
{% block content %}
<title>Track</title>
<link rel="stylesheet" href="{% static 'css/seller_products.css' %}">

<section class="tracking-list-header">
    <button class="add_listing">ADD NEW LISTING</button>
    <img class="header-image" src="{% static 'icons/myproductlist.png' %}" alt="My product list">
</section>

<section class="tracking-list-content">

    
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>
        <a href="" class="item">
            <img src="{% static 'images\sample-product.png' %}" class="item-img" alt="">
            <h3 class="item-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptatem molestias minima porro! Iste dignissimos temporibus distinctio enim accusamus, veniam, hic nobis dolore ipsa sint ad dolores neque rem minus!</h3>
            <div>
                <h3 class="store-name">Store</h3>
                <h3 class="item-location">Tokyo</h3>
                <h3 class="item-count">50 left</h3>
            </div>
        </a>

</section>

{% endblock content %}