{% extends "base.html" %}
{% load static %}

{% block content %}
    <title>Cart</title>
    <link rel="stylesheet" href="{% static 'css/shopping_cart.css' %}">

    <main class="shcart-content">

        <div class="shcart-banner">
            <h1>SHOPPING CART</h1>
        </div>

        <div class="cart-header cart-sortbar">
            <div class="col-select">
                <input type='checkbox' checked id="selectAll">
                <label for="selectAll">Select All</label>
            </div>

            <div class="product-col"></div>
            <div class="unitPrice-col">Unit Price</div>
            <div class="total-col">Total Price</div>
            <div class="action-col"></div>

        </div>
        {% for store_id, data in cart.items %}
        <h2 class="name-of-store">{{ data.store.name }}</h2> <!-- insert backend django tag for name of store -->
            
            {% for item in data.items %}
            <div class="cart-item cart-section">
                <div class='select-product'>
                    <input type="checkbox" checked>
                </div>

                <!-- insert backend django tag for product details -->
                <div class="product-col product-details-list">
                    <img src="{{ item.product.image.url }}" alt="product-dp" class="product-displayPic">

                    <div class="product-info">

                        <p class="product-title">{{ item.product.name }}</p>

                        <div class="product-actions">
                            <div class="quantities-sel">
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="quantity-btn" name="action" value="decrease" type="submit">
                                        <input type="hidden" name="product" value={{ item.product.pk }}>
                                        <img src="{% static 'icons/left-chevron.png'%}" alt="decrease" class="arrow-icon">
                                    </button>
                                </form>
                                <span class="quantity-num">{{ item.quantity }}</span> <!-- insert backend django tag for math operations on add/reduce quantities -->
                                
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="quantity-btn" name="action" value="increase" type="submit">
                                        <input type="hidden" name="product" value={{ item.product.pk }}>
                                        <img src="{% static 'icons/right-chevron.png'%}" alt="decrease" class="arrow-icon">
                                    </button>
                                </form>
                            </div>

                            <span class="stock-stats">{{ item.product.stock }} PCS LEFT</span> <!-- insert backend django tag for math operations on stock -->
                        </div>
                    </div>
                </div>

                <div class="unitPrice-col blue-text bold-font">{{ item.product.price }}</div>
                <div class="total-col blue-text bold-font">{{ item.subtotal }}</div>

                <div class="action-col">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product" value ={{ item.product.pk }}>
                        <button class='remove-product-btn' type='submit' name='action' value='remove'>&times;</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        
        {% endfor %}
        <div class="cart-summary">
            <div class="summary-text text-blue font-bold">TOTAL: {{ cart_price }} ({{ cart_size }} item{{ cart_size|pluralize:"s" }})</div>
            <a href="{% url 'marketplace:checkout' %}"style="text-decoration: none;">
                <button class="checkout-product-btn">PASABUY NOW</button>
            </a>
        </div>

    </main>
{% endblock %}